@using com.DaltonPonder.sa.Constants;
@using com.DaltonPonder.sa.Services
@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<MudThemeProvider Theme="Helpers.MudThemeProviderHelper.GetMudTheme()" />

@((MarkupString)"<!-- Hello! What is a developer's favorite drink? Da-queries. -->")

<MudLayout>
    <MudAppBar Elevation="10" ToolBarClass="px-5 px-xl-10">
        <a href="#aboutMe" id="skipToAboutMe" class="hidden-until-focus">Go to main content</a>
        <MudContainer Class="d-flex">
            <MudSpacer />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Color="Color.Inherit" Title="@Resource.MainLayout_GitHubTitle" Href="https://github.com/DivineStudio" Target="_blank" aria-label="@Resource.MainLayout_GitHubTitle" />
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Large" Color="Color.Inherit" Title="@Resource.MainLayout_LinkedInTitle" Href="https://www.linkedin.com/in/dalton-ponder-99a96a131/" Target="_blank" aria-label="@Resource.MainLayout_LinkedInTitle" />
            <MudIconButton Icon="@Icons.Material.Filled.Email" Size="Size.Large" Color="Color.Inherit" Title="@Resource.MainLayout_ConnectWithMe" Href="mailto:contactme@daltonponder.com" Target="_blank" aria-label="@Resource.MainLayout_ConnectWithMe" />
            <com.DaltonPonder.sa.Shared.Components.SelectUICulture Class="ms-4"></com.DaltonPonder.sa.Shared.Components.SelectUICulture>
        </MudContainer>
    </MudAppBar>
    <MudMainContent Class="pb-10 pb-lg-16">
        <main>
            @Body
        </main>
    </MudMainContent>
    <MudScrollToTop>
        <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.KeyboardDoubleArrowUp" />
    </MudScrollToTop>
</MudLayout>

@code {
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        using (var js = new JSInteropService(jsRuntime))
        {
            var culture = CultureInfo.CurrentUICulture;
            await js.SetHtmlLangAttribute(culture.Name);
        }
    }
}